.main-container{    
    padding: 30px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
       
 } 

.link{
        text-decoration: none;
        color: black;
        font-weight: bold;
}

.link:hover {
    color: darkblue;
  }
  
  .link:active {
    color: lightblue;
  }
